<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/event.js"></script>
</head>
<body>
    <div id="chatroom" data-room="<%= event_id %>" data-username="<%= username %>"></div>
    <form id="chat_form">
        <p><input type="text" name="message" id="chat_message"></p>
        <p><input type="submit" value="Send"></p>
    </form>
</body>
</html>